body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: whitesmoke;
    margin: 0px;
    text-align: center;
}



#center-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#main-container {
    display: block;
}


#start-time {
    font-size: 3em;
    line-height: 0px;
    margin: 40px;
}

#elapsed-time-label {
    line-height: 0px;
    opacity: 90%;
}

#elapsed-time {
    font-size: 3em;
    line-height: 0px;
}

#started-time-container {
    width: 100%;
    display: block;
    text-align: center;
}

#started-time-container:hidden {
    display: none;
}

#started-time {
    line-height: 0px;
    width: fit-content;
    display: inline-block;
    margin: 0px;
}

#change-start-time-button {
    display: inline;
    text-decoration: underline;
    background: none;
    color: black;
    border: none;
}

#change-start-time-button:hover {
    color: rgb(0, 149, 255);
}

button {
    cursor: pointer;
}

#rename-title {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
}

.timer-action-button {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-size: 2em;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

#data-heading {
    margin-bottom: 10px;
    margin-top: 40px;
    line-height: 0px;
}


#no-details-availible {
    font-style: italic;
}

#detailed-day-data-heading {
    line-height: 0px;
}

#detailed-day-data {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-bottom: 25px;
    border-spacing: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#detailed-day-data tr:nth-child(odd) {
    background-color: white;
}

#detailed-day-data tr:nth-child(even) {
    background-color: rgb(249, 249, 250);
}

#detailed-day-data-head {
    background-color: #eaeef3 !important;
}

#month-total {
    line-height: 0px;
}

/* Footer */
.footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.link {
    color: grey;
    padding: 15px;
    font-size: 0.9em;
}

.link:visited {
    color: gray;
}

.link:hover {
    color: rgb(0, 149, 255);
}

/* Calendar */
.calendar {
    min-width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#month-year {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-weekdays,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div,
.calendar-dates div {
    text-align: center;
    padding: 10px;
}

.calendar-weekdays {
    background-color: #eaeef3;
}

.calendar-weekdays div {
    font-weight: bold;
}

.calendar-dates div {
    border: 1px solid #434447;
}

.calendar-date {
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}

.calendar-date:hover {
    background-color: hsl(213, 27%, 85%);
    color: black;
}

.current-date {
    background-color: hsl(207, 100%, 74%);
}

.current-date:hover {
    background-color: hsl(207, 100%, 60%);
}

.timespan {
    font-weight: normal;
    display: block;
    font-size: 0.75em;
}


/* Responsiveness */
@media (max-width: 400px) {
    .calendar {
        min-width: 0;
        margin: 0 10px;
    }

    .calendar-weekdays div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .calendar-dates div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .timer-action-button {
        padding-left: min(20vw, 50px);
        padding-right: min(20vw, 50px);
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #2B2A33;
    }

    .calendar {
        background-color: hsl(247, 10%, 10%);
    }

    .calendar-weekdays {
        background-color: hsl(247, 10%, 13%);
    }

    #prev-month,
    #next-month {
        color: white;
    }

    #rename-title {
        color: white;
    }

    .calendar-date:hover {
        background-color: #f1f1f1;
        color: black;
    }

    .current-date {
        background-color: hsl(207, 100%, 40%);
    }

    .current-date:hover {
        background-color: hsl(207, 100%, 50%);
    }

    #change-start-time-button {
        color: white;
    }

    #detailed-day-data tr:nth-child(odd) {
        /* background-color: #434447; */
        background-color: hsl(225, 3%, 15%)
    }

    #detailed-day-data tr:nth-child(even) {
        background-color: hsl(225, 3%, 13%)
    }

    #detailed-day-data-head {
        background-color: #00000047 !important;
    }
}