body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    text-align: center;
    color: var(--color-on-background);
    background-color: var(--color-background);
}

.stop-scroll {
    overflow: hidden;
}

/* Make sure ypu see the javascript message */
noscript {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: black;
    z-index: 99;
    font-size: 2em;

}

#center-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    transition: 0.5s;
}

.main-column-sidebar-offset {
    margin-left: 150px;
}

#scrim {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 1;
}

#sidebar {
    text-align: left;
    background: var(--color-surface-container);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    transition: 0.5s;
    z-index: 2;
}

#sidebar-scrollable-area {
    max-height: calc(100vh - 100px);
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-y: auto;
    scrollbar-color: var(--color-scrollbar) var(--color-surface-container);
}

#sidebar-scrollable-area:hover {
    scrollbar-color: var(--color-scrollbar-hover) var(--color-surface-container);
}

#sidebar-list {
    list-style: none;
    padding: 0;
}

.save-slot-button {
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    text-align: left;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--color-text);
}

.save-slot-button:hover {
    background: var(--color-surface-container-high);
    text-decoration: underline dotted;
}

.selected-save-slot button {
    background: var(--color-surface-container-highest);
    text-decoration: underline;
}

#create-slot-button {
    width: 100%;
    background: none;
    color: var(--color-primary);
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    border: none;
    box-shadow: none;
    outline: none;
}

#create-slot-button:hover {
    text-decoration: underline dotted;
    background: var(--color-surface-container-high);
}

#open-sidebar {
    width: 45px;
    height: 45px;
    padding: 5px;
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 3;
    border: none;
    border-radius: 5px;
    background-color: var(--color-surface-container);
    background-size: contain;
    background-position: center;
    background-image: url("../Icons/menu-black.svg");
}

#open-sidebar:hover {
    background-color: var(--color-surface-container-high);
    border-radius: 7px;
}

main {
    flex: 1;
}

h1,
h2,
h3 {
    font-family: "DM Serif Text";
}

h1,
h2 {
    color: var(--color-primary);
}

h1 {
    font-size: 2.1em;
}

h3 {
    color: var(--color-secondary);
}

#main-container {
    display: block;
}


#start-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stop-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-time,
#elapsed-time {
    font-size: min(3em, 15vw);
    line-height: 0px;
    margin: 40px;
}

#started-time-container {
    width: 100%;
    display: block;
    text-align: center;
    font-size: min(1em, 6vw);
}

#started-time-container:hidden {
    display: none;
}

#started-time {
    line-height: 0px;
    width: fit-content;
    display: inline-block;
    margin: 0px;
}

.invalid-time {
    color: var(--color-error);
}

button {
    cursor: pointer;
}

.subtle-button {
    display: inline;
    text-decoration: underline;
    background: none;
    border: none;
    color: var(--color-text);
}

#stop-at {
    display: block;
    margin-top: 5px;
}


#rename-title {
    background: none;
    border: none;
    outline: none;
    color: var(--color-text);
}

.timer-action-button {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.5s;
    background-color: var(--color-tertiary-container);
    color: var(--color-on-tertiary-container);
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.33), inset 3px 3px 15px 0px rgba(255, 255, 255, 0.5)
}

.timer-action-button:hover {
    scale: 107%;
    border-radius: 18px;
}

#add-button {
    width: min(150px, 70vw);
    height: 50%;
    margin-top: 10px;
    font-size: 1.35em;
    padding: 4px;
    border-radius: 14px;
    transition: 0.4s;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.33), inset 2px 2px 10px 0px rgba(255, 255, 255, 0.5)
}

#add-button:hover {
    scale: 105%;
}

#add-time-modal {
    background-color: var(--color-surface-container-highest);
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    overflow: hidden;
}

#add-time-modal h2 {
    margin: 0px;
}

#add-time-modal::backdrop {
    background-color: var(--color-shadow);
}

#add-time-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

#add-time-modal-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#add-time-duration {
    padding: 0px;
    margin: 0px;
}

#add-time-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px
}

.add-time-modal-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    transition: 0.25s;
}

.add-time-modal-button:hover {
    scale: 105%;
    border-radius: 7px;
}

.file-management-button {
    border-radius: 5px;
    border-width: 1px;
}

#data-heading {
    margin-bottom: 25px;
    margin-top: 40px;
    line-height: 0px;
}


#no-details-availible,
#no-date-selected {
    font-style: italic;
    margin-bottom: 0px;
}

#detailed-day-data-container {
    margin-bottom: 25px;
}

#no-details-availible,
#detailed-day-data-heading {
    margin: 5px;
}

#detailed-day-data {
    width: 400px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border-spacing: 0px;
}


#detailed-day-data tr:nth-child(odd) {
    background-color: var(--color-surface-container-lowest);

}

#detailed-day-data tr:nth-child(even) {
    background-color: var(--color-surface-container-low);
}

#detailed-day-data-head {
    background-color: var(--color-surface-container) ! important;
}


.edit-time-input {
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    max-width: 30vw;
    color: var(--color-text);
}

/* The AM/PM indicator clips with the clock icon on chrome sometimes */
.edit-time-input::-webkit-datetime-edit-hour-field {
    padding-right: 0px;
}

.edit-time-input::-webkit-datetime-edit-minute-field {
    padding-right: 0px;
}

.edit-time-input::-webkit-calendar-picker-indicator {
    padding: 0px;
    filter: invert(1);
}

#notes-input {
    resize: vertical;
    width: 400px;
    max-width: 90vw;
    min-height: 25px;
    max-height: 95vh;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: var(--color-surface-container-low);
    border: 2px var(--color-outline) solid;
    color: var(--color-text);
}

.management-button {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    background-size: contain;
    background-position: center;
}

.delete-button {
    background-image: url("../Icons/trash-fill.svg");
}

.edit-button {
    background-image: url("../Icons/pencil-fill.svg");
}

.cancel-edit-button {
    background-image: url("../Icons/x-circle-fill.svg");
}

.apply-edit-button {
    background-image: url("../Icons/check-circle-fill.svg");
}



.management-button:hover {
    rotate: 15deg;
    background-size: 22px;
}

#month-total {
    line-height: 0px;
    font-size: min(1em, 7vw);
}



/* Footer */
footer {
    min-height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    transition: 0.5s;
}

.link {
    padding: 5px;
    padding-top: 10px;
    font-size: 0.9em;
}

.subtle-button:hover,
.link:hover,
.link:visited:hover {
    color: var(--color-link-hover);
}

.link,
.link:visited {
    color: var(--color-on-surface-variant);
}


/* Calendar */
.calendar {
    width: 400px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
    background-color: var(--color-surface-container);
    box-shadow: var(--color-shadow) 4px 3px 4px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-surface-container-highest);
}

.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#month-year {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-weekdays,
#calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div,
#calendar-dates div {
    text-align: center;
    padding: 10px;
}

#prev-month,
#next-month {
    color: var(--color-text);
}

.calendar-weekdays {
    background-color: var(--color-surface-container-high);
}

.calendar-weekdays div {
    font-weight: bold;
    font-size: min(6vw, 1em);
}

.calendar-date {
    cursor: pointer;
    font-weight: normal;
    vertical-align: middle;
    font-size: min(1em, 7vw);
    border-radius: 5px;
}

.calendar-date:hover {
    font-weight: 700;
    border-radius: 9px;
    background-color: var(--color-surface-container-highest);
    color: var(--color-text);
}

.selected-date {
    background-color: var(--color-primary-container);
    font-weight: 999;
}

.selected-date:hover {
    background-color: var(--color-primary-container-hover);
}

.current-date {
    font-weight: bold;
    padding-top: 1px !important;
}

.current-date-circle {
    border-radius: 50%;
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
}

.current-date-circle:hober {
    background-color: var(--color-tertiary);
}

.timespan {
    font-weight: normal;
    display: block;
    font-size: 0.75em;
}


/* Responsiveness */
@media (max-width: 400px) {
    .calendar-weekdays div {
        padding-left: 0px;
        padding-right: 0px;
    }

    #calendar-dates div {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* To still somewhat resemble a circle */
    .current-date-circle {
        width: min(40px, 20vw);
        margin: auto;
    }

    .timer-action-button {
        padding-left: min(20vw, 50px);
        padding-right: min(20vw, 50px);
    }
}

@media (max-width: 175px) {
    #add-time-modal-buttons {
        gap: 0px;
        justify-content: center;
    }
}

/* Mobile sidebar */
@media (max-width: 600px) {
    .main-column-sidebar-offset {
        margin-left: 0px;
    }

    #sidebar {
        width: 200px;
    }

    #scrim {
        visibility: visible;
    }

    .stop-mobile-scroll {
        overflow: hidden;
    }

    footer {
        width: 200px;
    }

    .save-slot-button {
        font-size: 1.5em;
    }
}

/* Change images to fit dark theme */
@media (prefers-color-scheme: dark) {
    .management-button {
        filter: invert(100%);
    }

    #open-sidebar {
        background-image: url("../Icons/menu-white.svg");
    }
}