/* Applying colours to the elements */
/* This can proably be merged with main. I didn't realise before that you could use media queries on the variable definitions. */
.subtle-button {
    color: var(--color-text);
}

.subtle-button:hover,
.link:hover,
.link:visited:hover {
    color: var(--color-link-hover);
}

.link,
.link:visited {
    color: var(--color-on-surface-variant);
}

body {
    color: var(--color-on-background);
    background-color: var(--color-background);
}

h1,
h2 {
    color: var(--color-primary);
}

h3 {
    color: var(--color-secondary);
}

.timer-action-button {
    background-color: var(--color-tertiary-container);
    color: var(--color-on-tertiary-container);
}

.calendar {
    background-color: var(--color-surface-container);
    box-shadow: var(--color-shadow) 4px 3px 4px;
}

.calendar-header {
    background-color: var(--color-surface-container-highest);
}

.calendar-weekdays {
    background-color: var(--color-surface-container-high);
}

#prev-month,
#next-month {
    color: var(--color-text);
}

#rename-title {
    color: var(--color-text);
}

.calendar-date:hover {
    background-color: var(--color-surface-container-highest);
    color: var(--color-text);
}

.current-date {
    background-color: var(--color-primary-container);
    font-weight: 999;
}

.current-date:hover {
    background-color: var(--color-primary-container-hover);
}

.subtle-button {
    color: var(--color-text);
}

#detailed-day-data tr:nth-child(odd) {
    background-color: var(--color-surface-container-lowest);

}

#detailed-day-data tr:nth-child(even) {
    background-color: var(--color-surface-container-low);
}

#detailed-day-data-head {
    background-color: var(--color-surface-container) ! important;
}

.edit-time-input {
    color: var(--color-text);
}

.edit-time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#notes-input {
    background-color: var(--color-surface-container-low);
    border: 2px var(--color-outline) solid;
    color: var(--color-text);
}

.invalid-time {
    color: var(--color-error);
}

/* Change images to fit dark theme */
@media (prefers-color-scheme: dark) {
    .management-button {
        filter: invert(100%);
    }

    #open-sidebar {
        filter: invert(100%);
    }
}